@font-face {
  font-family: 'DIN Pro';
  src: url('fonts/DINPro-Light.woff2') format('woff2'),
    url('fonts/DINPro-Light.woff') format('woff'),
    url('fonts/DINPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  src: url('fonts/DINPro-Bold.woff2') format('woff2'),
    url('fonts/DINPro-Bold.woff') format('woff'),
    url('fonts/DINPro-Light.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

* {
  z-index: 1;
}

body {
  color: white;
  font-family: 'DIN Pro';
  background-color: #191717;
  font-weight: 300;
}

.wrapper {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.wrapper::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(img/fone.png);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(0.1);
}

.wrapper::after {
  content: '';
  position: fixed;
  bottom: -20%;
  left: -15%;
  border-radius: 568px;
  opacity: 0.5;
  background: var(---1, linear-gradient(87deg, #FF0F87 -23.87%, #4612CC 124.07%), #C4C4C4);
  filter: blur(100px);
  height: 500px;
  width: 500px;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  padding: 5px 0;
  background-color: #08132fad;
  z-index: 99;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1180px;
  margin: 0 auto;
}

.header__ul {
  display: flex;
  gap: 2vw;
}

/**************** MAIN *************/

.main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.main__big-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main__text {
  width: 35%;
}

.main__text-content {
  padding-right: 20px;
}

.main__title {
  font-size: 3rem;
  font-weight: 700;
}

.subtitle {
  font-weight: 300;
}

.main__subtitle {
  font-size: 20px;
  font-weight: 300;
  margin-top: 2vh;
  line-height: 25px;
  text-align: left;

}

.main__tablet-big {
  width: 45%;
  text-align: center;
}

.main__tablet-big-image{
  height: 320px;
}

.main__tablet-big-image img {
  height: 100%;
  width: 100%;
}

.fade-in{
  opacity: 0;
  transition: opacity 0.2s ease;
}

.press-in{
  transform: scale(0.8);
  transition: transform 0.2 ease;
}

.icons__block {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-weight: 600;
}

.icons__block img {
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  margin-bottom: 10px;
}

.main__tablet-next {
  display: flex;
  align-items: center;
  width: 10%;
  cursor: pointer;
}

.main__tablet-next-block {
  margin-left: 25px;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #2AFADF 0%, #4C83FF 100%);
  padding: 30px 300px 30px 15px;
  opacity: 0.8;
  border-radius: 10px;
}

.main__tablet-next-block img {
  height: 100px;
  width: 140px;
}

.text-rotate {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 14px;
  margin-right: 30px;
  text-transform: uppercase;
}

.main__scroll-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
}

#more-arrows {
  width: 75px;
  height: 65px;

  &:hover {

    polygon {
      fill: #FFF;
      transition: all .2s ease-out;

      &.arrow-bottom {
        transform: translateY(-18px);
      }

      &.arrow-top {
        transform: translateY(18px);
      }
    }
  }

}

polygon {
  fill: #FFF;
  transition: all .2s ease-out;

  &.arrow-middle {
    opacity: 0.75;
  }

  &.arrow-top {
    opacity: 0.5
  }

}

.scroll-down-text {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}



@media(max-width: 1200px) {
  .container {
    padding: 0 15px;
  }

  .title {
    font-size: 2.5rem;
  }

  .main__content {
    margin-top: 50px;
  }
}

@media(max-width: 998px) {

  .main__tablet-next {
    margin-top: 40px;
    order: 4;
  }

  .btn-more {
    display: flex;
    justify-content: center;
  }

  .main__tablet-big,
  .main__tablet-next,
  .main__text,
  .btn-more {
    width: 50%;
  }

  .main__scroll-down {
    display: none;
  }

}


@media(max-width: 750px) {

  .main__content {
    margin: 120px 0 30px 0;
  }

  .container {
    overflow: hidden;
  }

  ;

  .main__text-content {
    padding-right: 0;
  }

  .main__title {
    font-size: 2.5rem;
  }

  .main__big-block {
    display: block;
  }

  .main__text,
  .main__tablet-big,
  .btn-more,
  .main__tablet-next {
    width: 100%;
  }

  .main__tablet-big-image {
    height: 250px;
  }

  .main__tablet-next-block {
    width: 100%;
    padding: 10px 0 15px 10px;
  }

  .main__tablet-next {
    margin-bottom: 50px;
  }

  .main__tablet-big-image img {
    width: auto;
    max-width: 100%;
  }
}

.active {
  font-weight: 700;
}

/*^^^^^^^^^^^^^^^   MAIN ^^^^^^^^^^^^^^^^^^^^^^*/


/***************** PRODUCT ******************/

.product {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.product__items-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product__item {
  background-color: #0B1C47;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 100px 20px 20px;
  border-radius: 10px;
}

.product__item-img img {
  height: 130px;
  width: 215px;
}

.product__item-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  max-width: 550px;
  margin-bottom: 10px;
}

.product__item-subtitle {
  font-size: 14px;
  line-height: 17px;
}

.product__item-price {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

@media(max-width: 1200px) {
  .product__item {
    gap: 20px;
    padding: 20px 15px 20px 0px;
  }
}


@media(max-width: 998px) {
  .product__items-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  .product__item {
    gap: 20px;
    flex-direction: column;
    width: 49%;
    text-align: center;
    padding: 20px 10px 20px 10px;
  }
}

@media(max-width: 750px) {
  .product__item {
    gap: 20px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 20px 10px 20px 10px;
  }

  .button a {
    padding: 10px 20%;
  }
}


/*^^^^^^^^^^^^^^^^ PRODUCT ^^^^^^^^^^^^^^^^*/



/***************** BuyPRODUCT *****************/

.buyProduct {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.my-slider__item {
  width: 100%;
  height: 300px;
  text-align: center;
}

.my-slider__item-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0B1C47;
  height: 100%;
  width: 100%;
  gap: 30px;
}

.my-slider__item-image img {
  height: 80px;
  width: 100%;
}

.my-slider__item-text {
  font-size: 36px;
  font-weight: 700;
}

.title-block {
  padding-top: 100px;
}

.title-block_btns {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 30px;
}

.title-block_btns .title {
  margin-bottom: 0;
}

.my-slider__btns {
  display: flex;
  gap: 20px;
}

.my-slider__btn-prev,
.my-slider__btn-next {
  cursor: pointer;
  transition-duration: 0.3s;
}

@media (max-width: 600px){
  .my-slider__btns{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

/*^^^^^^^^^^^^^^^^ BuyPRODUCT ^^^^^^^^^^^^^^^^*/





.questions {
  height: 100vh;
  width: 100%;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
}

.frag__contant {
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.frag__question {
  background-color: #0B1C47;
  cursor: pointer;
}

.frag__question h3{
  padding: 25px 10px 25px 40px;
  font-size: 18px;
  font-weight: 700;
}
.frag__answer-text{
  padding: 15px 100px 20px 30px;
}

.frag__answer {
  max-height: 0;
  overflow: hidden;
  transition-duration: 1s;
  background-color: #081330;
}

.show{
  max-height: 300px;
}

@media(max-width: 998px){
  .frag__question h3{
    padding: 25px 10px 15px 25px;
    font-size: 14px;
    font-weight: 500;
  }
  .frag__answer-text{
    padding: 15px 10px 15px 20px;
  }  
}


/***************** BUTTON *****************/


.button--bubble__container {
  position: relative;
  display: inline-block;
}

.button {
  -webkit-font-smoothing: antialiased;
  background: #ff9933;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
  border-radius: 3px;
  z-index: 2;
  font-size: 20px;
  display: flex;
  font-weight: 700;
  padding: 20px 85px 20px 40px;
}

.button--bubble:hover {
  background: none;
}

.button--bubble {
  position: relative;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  filter: url(#goo);
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  transition: background-color 0.1s ease-out;
}

.button--bubble:hover+.button--bubble__effect-container .button {
  background: #ff9933;
}

.button--bubble:active+.button--bubble__effect-container {
  transform: scale(0.95);
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #ff9933
}

.circle.top-left {
  top: 40%;
  left: 27%;
}

.circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.btn-more img {
  position: relative;
  left: 20px;
}




/*^^^^^^^^^^^^^^^^ BUTTON ^^^^^^^^^^^^^^^^/




/*********************** BURGER **********************/


@media (max-width:998px) {

  body.lock {
    overflow: hidden;
  }

  header {
    padding: 20px 0;
  }

  .header__ul {

    position: fixed;
    width: 100%;
    height: 100%;
    background: #010b26dc;

    flex-direction: column;
    text-align: center;
    justify-content: center;
    left: -100%;
    top: 0%;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__ul.active {
    left: 0;
  }

  .header__ul li {

    display: block;
    padding: 0;
    padding: 20px 0;
  }

  .header__ul li a {

    font-size: 24px;
  }

  .header__burger {
    position: relative;
    width: 50px;
    height: 40px;
    right: 15px;
    z-index: 3;
    cursor: pointer;
    display: block;
  }


  .header__burger span {
    position: absolute;
    right: 0px;
    height: 3px;
    display: block;
    background-color: white;
    border-radius: 3px;
    transition-duration: 0.3s;
  }

  .header__burger span:nth-child(1) {
    top: 0%;
    width: 30%;
  }

  .header__burger span:nth-child(2) {
    top: 30%;
    width: 50%;
  }

  .header__burger span:nth-child(3) {
    top: 60%;
    width: 75%;
  }

  .header__burger span:nth-child(4) {
    top: 92%;
    width: 45%;
  }

  .header__burger.active .header__burger span {
    width: 100%;
  }

  .header__logo {
    z-index: 2;
  }

  .header__logo img {
    height: 60%;
    width: 60%;
  }

}

/*********************** BURGER **********************/




